<% include ../partials/header.ejs %>

<div class="container width40">
	<h3>Edit  &quot <%=camp.trails[0].trail_name%>&quot  trail</h3>
	<form action="/campgrounds/<%=camp._id%>/trail/<%=camp.trails[0]._id%>?_method=PUT" method="POST">
		<article class = "form-group">
				
				<div class="form-group">
					<label>Trail Name</label>
					<input class = "form-control" type = "text" name = "trail_name" value="<%=camp.trails[0].trail_name%>" > 
				</div>	
				<div class="form-group">
					<label>Length in miles</label>
					<input class = "form-control" type = "text" name = "dist"  value="<%=camp.trails[0].dist%>"> 
				</div>	
				<div class="form-group">
					<label>What to expect</label>
					<input class = "form-control" type = "text" name = "expect" value="<%=camp.trails[0].expect%>"> 
				</div>	
				<div class="form-group">
					<label>Experience</label>
					<textarea class="form-control width100" name="info" ><%=camp.trails[0].info%></textarea>
				</div>	
				<div class="form-group">
					<label>Share a photo of trail</label>
					<input class = "form-control" type = "text" name="photo_link" value="<%=camp.trails[0].photo_link%>"> 
				</div>		
				
		</article>	

		<input class="btn btn-primary btn-sm width33" type="submit" value="Submit">
		<input class="btn btn-info btn-sm width33" type="reset" value="Reset">
		<a class= "btn btn-warning btn-sm width33" href="/campgrounds">Cancel</a>
	</form>

</div>

<% include ../partials/footer.ejs %>