<!-- FILE TO DISPLAY MORE INFO ABOUT THE SELECTED CAMPSITE -->

<% include ../partials/header.ejs %>

<div class = "container">
	<div class = "row">
		<div class = "col col-md-9">
			<h2>Welcome to <%= foundCamp.name %> Campground</h2>
			<img id="imgShow" style="width:80%;"  src = "<%= foundCamp.image%>">
			<article>
				<h5><strong>Added by: </strong><%=foundCamp.addedBy.username%>
					<span style="float:right"><strong>Added on: </strong><%=foundCamp.addedOn.toDateString() %></span>
				</h5>
				<p style="padding-top:10px"><%= foundCamp.disc %></p>
			</article>
			<article>
				<h3><i><%=foundCamp.addedBy.username%> shares his experience...</i>
					<i class="fas fa-feather-alt"></i>
				</h3>
				<p><%= foundCamp.experience %></p>
				<p><strong><i><%=foundCamp.addedBy.username%> gives it</i></strong>
				<% if (foundCamp.recommend==5){%>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star gold"></i>
				<%}%>
				<% if(foundCamp.recommend==4){%>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star"></i>
				<% } %>	
				<% if(foundCamp.recommend==3){%>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				<% } %>	
				<% if(foundCamp.recommend==2){%>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				<% } %>	
				<% if(foundCamp.recommend==1){%>
					<i class="fas fa-star gold"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				<% } %>	</p>



			</article>
		</div>	
		<div class="col col-md-3">
			<h3>Crescent Campgrounds</h3>
			<a class="btn btn-info btn-md btn-block m-2" href ="/campgrounds">Back to Campgrounds</a><br>
			<a class="btn btn-info btn-md btn-block m-2" href ="/campgrounds/new">Add</a><br>
			<% if(currentUser && foundCamp.addedBy.id.equals(currentUser._id)){ %>
				<a class="btn btn-info btn-md btn-block m-2"    href="/campgrounds/<%=foundCamp._id%>/edit">Edit</a><br>
				<form action="/campgrounds/<%=foundCamp._id%>?_method=DELETE"  method="POST">
					<input class="btn btn-info btn-md btn-block my-5" type ="submit" value = "Delete">
				</form>	<br>
			<% } %>
			<% if(foundCamp.site_link){ %>
				<a class="btn btn-info btn-md btn-block m-2" target="_blank" href="<%=foundCamp.site_link%>">Visit website</a>
			<%}%><br>
			<% if(foundCamp.map_link){ %>
				<a class="btn btn-info btn-md btn-block m-2" href="<%=foundCamp.map_link%>">Location</a>
			<%}%>
		</div>	
	</div>	
	
	<% if(foundCamp.trails.length>0){ %>
	<section>
			<h2 id="trail_head"><i class="fas fa-paw"></i> Trails suggested by <i><%=foundCamp.addedBy.username%></i> </h2>
				<div  class="row" id="trails">
					<% foundCamp.trails.forEach(function(trail){%>
					<div class="col col-md-9" style="border-bottom:6px solid white">
						<h3><%=trail.trail_name%> <i class="fas fa-hiking"></i></h3>
						<strong>Length of the trail:</strong> <span class="badge"> <%=trail.dist%>  miles</span>
						<h4>What to expect: </h4>
						<h5><strong><i><%=trail.expect%></strong></i></h5>
						<p><%=trail.info%></p>
					
						<a class="btn btn-info btn-xs m-2 btn-trail" href="/campgrounds/<%=foundCamp._id%>/edit/<%=trail._id%>">Edit</a>
						<form id="deleteform" action="/campgrounds/<%=foundCamp._id%>/trail/<%=trail._id%>?_method=DELETE" 	method="POST">
							<input type="submit" class="btn btn-danger btn-xs btn-trail m-2" value="Delete">
						</form>

					</div>	
					<div class="col col-md-3">	
						<image src="<%=trail.photo_link%>" alt="Trail photo" class="width100"  style="">
					</div>
					<%})%>	
				</div>
	</section>
	<% } %>

</div>

<% include ../partials/footer.ejs %>
