<!-- TO EDIT TEMPLE -->
<% include templates/header %>

<div class= container>
	<div class="jumbotron">
		<h1>Edit Temple</h1>
	</div>
<div>


<div class="container">
	<form  action="/index/<%=editMe._id%>/edit_temple?_method=PUT" method="POST">
		
		<div class="form-group">
			<label>Category:</label>
			<input disabled class="form-control" type="text" name="temple[category]" value="<%=editMe.category%>">
		</div>
		<div class="form-group">
			<label>Temple Name</label>
			<input class="form-control" type ="text" name="temple[name]" value="<%=editMe.name%>">	
		</div>
		<div class="form-group">
			<label>Location</label>
			<input class="form-control" type ="text" name="temple[location]" value="<%=editMe.location%>">
		</div>
		<div class="form-group">
			<label>Images</label>
			<input class="form-control" type ="text" name="temple[images]" value="<%=editMe.images%>">	
		</div>
		<div class="form-group">
			<label>Type of Architecture </label>
			<input class="form-control" type ="text" name="temple[arch_type]" value="<%=editMe.arch_type%>">
		</div>
		<div class="form-group">
			<label>Buit-in </label>
			<input class="form-control" type ="text" name="temple[builtIn]" value="<%=editMe.builtIn%>">	
		</div>
		<div class="form-group">
			<label>speciality</label>
			<input class="form-control" type ="text" name="temple[speciality]" value="<%=editMe.speciality%>">
		</div>
		<div class="form-group">
			<label>Main Festival </label>
			<input class="form-control" type ="text" name="temple[mainFestival]" value="<%=editMe.mainFestival%>">			
		</div>
	<button class="mybtn" type="submit">Submit</button>
	<button class="mybtn" type="reset">Reset</button>
	<a class="align-bottom " href="/index/<%=editMe._id%>/show_temple">
		<button class="mybtn" type="none">Back</button>
	</a>
	</form>

</div>
<% include templates/footer %>