<!-- Show Details of Category -->

<% include templates/header %>
<div class="container">
	<div class="jumbotron">
		<!--<img id="navimg" src="https://www.photosforclass.com/download/flickr-31804634594"> -->
		<h1><%=category.cateName%></h1>
	</div>
		<img style="float:right; height:200px;" src="<%=category.sampleImg%>">
		<%=category.discription%>
	<a class="btn mybtn" href="/index/<%=category._id%>/edit">Edit</a>	



<hr>

<div class="card">
	
		<% selectedCate.forEach(function(cate){ %>
		<div class="media  border border-danger">
				<img class="align-self-start mr-3" style="float:left; height:150px;" src="<%=cate.images%>">
			<div class="media-body py-1">
				<h4><%=cate.name%></h4>
				<h6><%=cate.location.substring(0,100)%></h6>
				<button class="mybtn">
					<a href="/index/<%=cate._id%>/edit_temple">Edit</a>
				</button>
				<button class="mybtn txtshwd">
					<a class="align-bottom txtshwd" href="/index/<%=cate._id%>/show_temple">Details</a>
				</button>
				<br>
			</div>
		</div>	
		<%})%>	
	</div>
	
</div>



<% include templates/footer %>

