<!-- Show Details of Category -->

<% include templates/header %>
<div class="container">
	<div class="jumbotron">
		<h1><%=category.cateName%></h1>
	</div>
		<div class="row">
			<div class="col-md-2 col-xs-2">
				<a href="/index/<%=category._id%>/edit">
					<button class="mybtn ">Edit</button>
				</a>	
				<form class="form-inline" method="POST" action="/index/<%=category._id%>?_method=DELETE" >
					<input type="text" name="cateName" hidden value="<%=category.cateName%>">
					<button class="mybtn">Delete</button>
				</form>
				<a href="/struct/new">
					<button class="mybtn ">Add</button>
				</a>	
				<a href="/index/">
					<button class="mybtn ">Back</button>
				</a>	
			</div>
			<div class="col-md-10 col-xs-10">
				<img id="showmainimg" src="<%=category.sampleImg%>">
				<p><%=category.discription%></p>
			</div>
			
		</div>
	<hr>

	<div class="card">
	<% selectedCate.forEach(function(cate){ %>
	
		<div class="media">
				<img class="align-self-start mr-3" id="showsubimg" src="<%=cate.images%>">
			<div class="media-body py-1">
				<h4><%=cate.name%></h4>
				<h6><i><%=cate.builtIn%></i></h6>
				<%=cate.location.substring(0,50)%>...
				<p><%=cate.speciality.substring(0,100)%>...</p>
				<a href="/struct/<%=cate._id%>/edit">
					<button class="mybtn">Edit</button>
				</a>
				<a class="align-bottom " href="/struct/<%=cate._id%>">
					<button class="mybtn">Details</button>
				</a>
				<br>
			</div> 
		</div>	
	<%})%>	
	</div>
	
</div>

<% include templates/footer %>

